.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: rgb(253, 254, 254);
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalFade 0.2s ease;
}

.modal-box h2 {
  margin-bottom: 10px;
  color: rgb(240, 232, 232);
}

.modal-box p {
  font-size: 14px;
  color: #555;
}

.modal-buttons {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.gradient-text {
  font-size: 1.15rem;
  font-weight: 600;

  background: linear-gradient(135deg, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.login-btn {
  flex: 1;
  background: black;
  color: rgb(236, 230, 230);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #222;
}

.cancel-btn {
  flex: 1;
  background: #eee;
  color: rgb(39, 38, 38);
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.cancel-btn:hover {
  background: #ddd;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
